.image {
  width: 100%;
}
.list-container {
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location-Card-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 4px 0;
  margin: 0px;
}
.container {
  padding: 10px;
}
.heading {
  font-size: 15px;
  text-align: left;
}
.paragraph {
  font-size: 15px;
  text-align: left;
}
